*.log
.DS_Store
node_modules
dist
*.txt
.claude
CLAUDE.md
coverage

# Package specific
packages/*/dist
packages/*/coverage
packages/*/node_modules

# Examples
examples/**/node_modules
examples/**/dist
examples/**/coverage
examples/**/.env
examples/**/*.db
examples/**/*.db-journal
tester/** 